table#orders{
    font-family: Arial, sans-serif;
    font-style:normal;
    border-collapse: collapse;
    width: 100%;
}

td#orders, th#orders, th#orders_header{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: normal;
}
tr#orders_header{
    font-weight: bold;
    border-bottom: 2px solid black;
}
tr#orders:nth-child(even){
    background-color: #dddddd;
}

.MainContent{
    background-color: white;
}

form.order{
    width:40vw;
}
select.orderMaterial{
    width:100%;
}
input.orderAmount{
    width:100%;
}
input.orderDate{
    width:45%; 
}
input.orderTime{
    width:45%;
    float:right;
}



@media screen and (max-width: 800px) {
    input.username, input.password{
        width:95vw;
        padding: 14px;
        margin: 6px 0;
        border-radius: 4px;
        border: 1px solid #ced4da;
        background-color: #fff;
        box-sizing: border-box;
    }

    form.order{
        width:calc(100vw - 16px);

    }
    select.orderMaterial{
        width:100%;
        height:5vh;
    }
    input.orderAmount{
        width:100%;
        height:5vh;
    }
    input.orderDate{
        width:45%; 
        
    }
    input.orderTime{
        width:45%;
        float:right;
    }
    input.orderSubmit{
        width:100%;
        height:5vh;
        background-color: rgb(239,239,239);
        color:black;
    }
    
}
