table#orders{
    font-family: Arial, sans-serif;
    font-style:normal;
    border-collapse: collapse;
    width: 100%;
}

td#orders, th#orders{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr#orders:nth-child(even){
    background-color: #dddddd;
}

