table#orders{
    font-family: Arial, sans-serif;
    font-style:normal;
    border-collapse: collapse;
    width: 60vw;
}

td#orders, th#orders{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr#orders:nth-child(even){
    background-color: #dddddd;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    table#orders{
        font-family: Arial, sans-serif;
        font-style:normal;
        border-collapse: collapse;
        width: 100%;
    }
    *{
        background-color: red;
        color: white;
    }
  }