{% extends "base.html" %}

{% block content %}
    <h1>Edit Order</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32, class="editOrderAmount") }}<br>
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}
            {{ form.date(class="editOrderDate") }}
        </p>
        <p>
            {{ form.time.label }}
            {{ form.time(class="editOrderTime")}}

        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}