{% extends "base.html" %}

{% block content %}
    <div class="MainContent">
        <h1>Hi, {{ current_user.username }}!</h1>
        <h2>Meals to cook:</h2>
        <table id="orders">
            <tr id="orders_header">
                <th id="orders_header">Type of Food:</th>
                <th id="orders_header">Amount of Food:</th>
                <th id="orders_header">Finished at:</th>
                <th id="orders_header">Start at:</th>
                <th id="orders_header">Order ID:</th>
                <th id="orders_header">Edit Order:</th>
                <th id="orders_header">Delete Order:</th>

            </tr>
            
            {% for order in orders %}
                {% include '_order.html' %}
            {% endfor %}
        </table>
        <h2>Meals cooked or cooking:</h2>
        <table id="orders">
            {% for order in orders_cooked %}
                {% include '_order_cooked.html' %}
            {% endfor %}
        </table>
    </div>
{% endblock %}