{% extends "base.html" %}

{% block content %}
    <p>You can order food here, which will be prepared by our beloved chef <b>CookBot</b> within the given time.</p>
    <form class="order" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p> 
            {{ form.material.label }}<br>
            {{ form.material(class="orderMaterial") }}<br>
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32, class="orderAmount") }}<br>
            {% for error in form.amount.errors%}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date(size=32, class="orderDate") }}
            
            {{ form.time(size=32, class="orderTime") }}
        </p>
        
        <p>{{ form.submit(class="orderSubmit") }}</p>
    </form>
    {% for order in orders %}
    <p>
        {{ order.author.username }} orders: <b>{{ order.food }}</b>
    </p>
    {% endfor %}
{% endblock %}